.advertisment {
  background-color: lightblue;
  padding: 4rem 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 4rem;
      margin-bottom: 2rem;
      line-height: 4rem;

      @media only screen and (max-width: 768px) {
        text-align: center;
      }
    }
    @media only screen and (max-width: 768px) {
      margin-bottom: 2rem;
      display: flex;
      justify-content: unset;
      flex-direction: column;
      text-align: center;
    }

    p {
      margin-bottom: 2rem;
    }
  }
  .advertisment-cta {
    background-color: $color--lightseagreen;
    color: white;

    a {
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      display: inline-block;
      cursor: pointer;
      transition: all 0.2s ease;

      @media only screen and (max-width: 768px) {
        display: block;
        align-items: center;
        cursor: pointer;
      }
    }

    i {
      padding-left: 1rem;
    }

    @media only screen and (max-width: 768px) {
      text-align: center;
      margin-top: 1rem;
      display: block;
      width: 100%;
      flex-direction: column;
      cursor: pointer;
    }
  }
  .advertisment-cta:hover {
    background-color: $color--whitesmoke;
    color: black;
  }
}

.services {
  padding: 8rem 0;

  &__wrapper {
    padding: 5rem;
    text-align: center;

    .services-item {
      text-align: center;

      i {
        padding: 2rem;
        background-color: $color--lightseagreen;
        font-size: 3rem;
        margin-bottom: 2rem;

        @media only screen and (max-width: 768px) {
          padding: 4rem;
          font-size: 4rem;
        }
      }

      h3 {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 2rem;
        font-size: bold;
      }
    }
    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  @media only screen and (max-width: 768px) {
    top: 7rem;
    width: 100%;
    text-align: center;
  }
}

.portfolio {
  background-color: $color--whitesmoke;
  padding: 8rem 0;

  &__wrapper {
    h1 {
      font-size: 3rem;
      text-align: center;
      margin-bottom: 3rem;
      color: $color--blue;
    }
    p {
      text-align: center;
      margin: 2rem 0;
    }

    .portfolio-list {
      margin-top: 2rem;

      @media only screen and (max-width: 901px) {
        grid-template-columns: 1fr 1fr;
      }

      @media only screen and (max-width: 520px) {
        grid-template-columns: 1fr;
      }
    }
    .portfolio-items {
      background-color: $color--lightseagreen;

      img {
        width: 100%;
      }
      h2 {
        font-size: 2rem;
        text-align: center;
        margin-top: 1rem;
        color: white;
      }
    }
  }
}

.map {
  padding: 8rem 0;

  &__wrapper {
    .map-discription {
      img {
        width: 100%;
      }

      h1 {
        font-size: 3rem;
        color: $color--blue;
        line-height: 3rem;

        @media only screen and (max-width: 768px) {
          text-align: center;
        }
      }
      p {
        margin-top: 2.5rem;
      }

      .map-buttons {
        margin-top: 2rem;
        a {
          padding: 1rem;
          background-color: $color--whitesmoke;
          display: inline-block;
          cursor: pointer;
          transition: all 0.2s ease;

          i {
            margin-left: 1rem;
          }

          &:last-child {
            margin-left: 2rem;

            @media only screen and (max-width: 520px) {
              margin-left: unset;
              text-align: center;
              margin-top: 2rem;
              width: 100%;
            }
          }

          @media only screen and (max-width: 520px) {
            width: 100%;
          }
        }
        @media only screen and (max-width: 520px) {
          align-items: center;
          display: flex;
          flex-direction: column;
          cursor: pointer;
        }
        @media only screen and (max-width: 900px) {
          text-align: center;
        }
      }
      .map-buttons a:hover {
        background-color: $color--lightseagreen;
        color: white;
      }
    }

    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}

.additional-info {
  padding: 8rem 0;
  background-color: $color--whitesmoke;

  &__wrapper {
    .additional-title {
      padding: 2rem;
      display: flex;
      font-size: 2rem;
      font-size: bold;
      color: $color--blue;
      justify-content: space-between;

      h1 {
        font-size: 4rem;
        color: $color--blue;

        @media only screen and (max-width: 900px) {
          text-align: right;
        }
      }
    }

    .additional-description {
      ul li {
        text-align: right;
        padding: 1rem;
        line-height: 2rem;
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.2s ease;

        @media only screen and (max-width: 678px) {
          text-align: center;
        }
      }

      .additional-options {
        h1 {
          font-size: 3rem;
          line-height: 3.6rem;
          color: $color--blue;
          margin-bottom: 2rem;

          @media only screen and (max-width: 900px) {
            font-size: 2.5rem;
            text-align: right;
          }

          @media only screen and (max-width: 678px) {
            font-size: 2.5rem;
            text-align: center;
          }
        }
        ul li i {
          margin-right: 1rem;

          @media only screen and (max-width: 678px) {
            text-align: center;
            margin-right: 1rem;
          }

          @media only screen and (max-width: 900px) {
            text-align: right;
            margin-right: 1rem;
          }
        }

        ul li:hover {
          color: white;
          background-color: $color--lightseagreen;
        }

        h2 {
          font-size: 2rem;
          margin-bottom: 2rem;
          color: $color--blue;
        }
        p {
          margin-bottom: 2rem;

          @media only screen and (max-width: 900px) {
            margin-top: 2rem;
          }
        }

        .additional-seperate {
          display: flex;
          justify-content: space-between;

          img {
            width: 50%;
            height: auto;
            display: block;

            @media only screen and (max-width: 900px) {
              width: 100%;
            }
          }

          .additional-seperate-info {
            margin: 0 1rem;

            @media only screen and (max-width: 900px) {
              margin: unset;
            }
          }

          @media only screen and (max-width: 900px) {
            flex-direction: column;
          }
        }

        .additional-people {
          display: flex;
          align-items: center;
          justify-content: space-between;

          img {
            width: 30%;
            height: auto;
            margin-right: 2rem;

            @media only screen and (max-width: 900px) {
              width: 100%;
              margin-right: unset;
            }

            @media only screen and (max-width: 590px) {
              padding: 2rem 0;
              width: 60%;
              margin-right: unset;
            }

            @media only screen and (max-width: 1025px) {
              margin-bottom: 2rem;
              width: 60%;
              margin-right: unset;
            }
          }

          pre {
            span {
              font-size: 2rem;
              color: $color--blue;
            }

            @media only screen and (max-width: 900px) {
              margin-top: 2rem;
            }
          }

          @media only screen and (max-width: 900px) {
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;
          }

          @media only screen and (max-width: 1025px) {
            align-items: center;
            text-align: center;
            display: flex;
            flex-direction: column;
            width: 100%;
          }
        }
      }

      @media only screen and (max-width: 678px) {
        display: flex;
        flex-direction: column;
      }

      @media only screen and (max-width: 678px) {
        grid-template-columns: 1fr;
      }
    }
  }
}

.question {
  background-color: $color--lightblue;
  padding: 8rem 0;

  &__wrapper {
    .description {
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        margin-right: 1rem;
        font-size: 4rem;
      }
      pre {
        span {
          font-size: 3rem;
          color: $color--blue;
          line-height: 3rem;
          display: inline-block;

          @media only screen and (max-width: 768px) {
            font-size: 2rem;
          }
        }
      }
    }
    .description-img {
      text-align: center;

      img {
        align-items: center;
        width: 30%;
        height: auto;

        @media only screen and (max-width: 900px) {
          align-items: center;
          margin-top: 2rem;
          width: 25%;
        }
      }

      @media only screen and (max-width: 768px) {
        align-items: center;
        width: 100%;
      }
    }
    @media only screen and (max-width: 900px) {
      grid-template-columns: 1fr;
      grid-gap: unset;
    }
  }
}
