.question {
  background-color: $color--lightblue;

  &__wrapper {
    .description {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      i {
        margin-right: 1rem;
        font-size: 4rem;
      }
      span {
        font-size: 3rem;
        color: $color--blue;
      }
    }
    .description-img {
      img {
        width: 20%;
        margin-left: 22rem;
        height: auto;
      }
    }
  }

  @media only screen and (max-width: 768px) {
  }
}
