a {
  text-decoration: none;
  color: inherit;
}

pre {
  white-space: pre-line;
}

html {
  font-size: 62.5% !important;
  font-family: "calibri", sans-serif !important;
}

body {
  font-size: 1.5rem !important;
  line-height: 1.5rem !important;
}
